*{
    text-align: center;
    font-size: large;
}
.title1{
    background-color: rgb(49, 49, 233);
    color: black;
    height: 100px;
    width: 71px;
    border: 3px solid black;
    font-size: 50px;
}
.title3{
    background-color: rgb(49, 49, 233);
    color: black;
    height: 35px;
    width: 600px;
    border: 3px solid black;
    font-size: 29px;
}
span{
    color: blueviolet;
    text-decoration-line: underline;
    text-decoration-color: blueviolet;
    text-decoration-style: solid;
    font-size: 23px;
}

.two {
    color: rgb(2, 154, 255);
    font-size: 25px;
    text-decoration: none;
}

.section{
    border: 3px solid rgb(110, 15, 219);
    font-size: 22px;
}

.tit{
    background-color: rgb(49,49,233);
    color: black;
    font-size: 25px;
    border: 3px solid rgb(0, 0, 0);
    font-size: 30px;
}

.sub{
    color: rgb(2,154,255);
    font-size: 25px;
    text-decoration: none;
}



